<div class="col-sm-4 col-md-2">
  <div class="thumbnail">
    <img src="assets/images/{{model.image}}">
    <div class="caption">
      <h5>{{#link-to 'games.game' model.id}}{{model.title}}{{/link-to}}</h5>
    </div>
  </div>
</div>