<div class="row">
	<div class="col-md-5">
		<img src="/assets/images/lg_{{model.image}}" />
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<h2>{{model.title}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{model.description}}
			</div>
		</div>
	</div>
</div>