<div class="row">
	<div class="col-sm-6 col-md-12">
		<p>You have a total of {{collectionTotal}} game(s) in your collection</p>
	</div>
</div>
<div class="row">
	{{#each model as |ownedGame|}}
  		{{game-details-small model=ownedGame.game}}
	{{/each}}
</div>